*{
  margin:auto;
  padding: 0px;
  box-sizing: border-box;
}
.pgcontain{
  width: 70%;
  
}

span .news{
  margin-left: 400px;
}

a {
  color: black;
  text-decoration: none;
}

header .col-3,.col-4,.col-2{
text-align: center;
margin-top: 20px;
}
